{% extends 'common/base.html' %} {% block content %}

<p>Hello!</p>
<p>Welcome {{first_name}}. We are happy to have you onboard.</p>
<p>You can login by clicking on the button below.</p>
<table
  role="presentation"
  border="0"
  cellpadding="0"
  cellspacing="0"
  class="btn btn-primary"
>
  <tbody>
    <tr>
      <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="{{login_url}}" target="_blank">{{login_action}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
