{% extends 'common/base.html' %} {% block content %}

<p>Hello {{ first_name }}</p>
<p>It looks like you requested a token to reset your password.</p>
<p>If it wasn't you, please ignore this message.</p>
<p>You can use the button below:</p>
<table
  role="presentation"
  border="0"
  cellpadding="0"
  cellspacing="0"
  class="btn btn-primary"
>
  <tbody>
    <tr>
      <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="{{reset_url}}" target="_blank">{{reset_action}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
